{% if ulfield %}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
    {{ ulfield|raw }}
    </div>
  </div>
{% endif %}
<input type="{{ type }}" name="{{ fieldname }}" id="{{ fieldname }}"
	class="form-control" value="{{ value }}"{{ extras|raw }} />
{% if ulfield %}
</div>
{% endif %}
