{% extends "Sparkle2/userarea.html.twig" %}

{% block content %}
{% set userinfo = call_static('\\Froxlor\\CurrentUser', 'getData') %}
<div class="card">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs" id="subnav-tab"
			role="tablist">
			<li class="nav-item"><a class="nav-link active"
				id="subnav-dom-tab" data-toggle="tab" href="#tab-dom" role="tab"
				aria-controls="subnav-dom" aria-selected="true">{{ lng('panel.domains') }}&nbsp;<span
					class="badge badge-pill badge-secondary">{{ domains.count }}</span></a></li>
			{% if userinfo.domains != 0 %}
			<li class="nav-item"><a class="nav-link" id="subnav-add-tab"
				data-toggle="tab" href="#tab-add" role="tab"
				aria-controls="subnav-add" aria-selected="false"><i
					class="fas fa-plus-circle"></i>&nbsp;{{ lng('admin.domain_add') }}</a></li>
			{% endif %}
		</ul>
	</div>
	<div class="card-body tab-content" id="subnav-tabContent">
		<div class="tab-pane fade show active" id="tab-dom" role="tabpanel"
			aria-labelledby="subnav-dom-tab">
			<div class="card">
				<div class="card-body" id="domains-list">
					{% import "Sparkle2/table-listing.html.twig" as t %}
					{% set content %}
					{% for domain in domains.list %}
					<tr
						class="d-flex{% if user.deactivated > 0 %} text-muted{% endif %}">
						<td class="col-sm-3"><strong>{{ domain.domain|idnDecode }}</strong>
							{% if domain.domainaliasid and domain.domainaliasid != 0 %}<br>
							<small>{{ lng('domains.hasaliasdomains') }}</small> {% endif %}</td>
						<td class="col-sm-3">{% for ip in domain.ips %}<a
							href="index.php?module=AdminIpsandports&view=edit&id={{ ip.id }}">{{ ip.ip }}:{{ ip.port }}</a><br>
							{% endfor %}</a></td>
						<td class="col-sm-3">{{ domain.customername }} (<a
							href="index.php?AdminCustomers&view=su&id={{ domain.customerid }}">{{ domain.loginname }}</a>)</td>
						<td class="col-sm-3 text-right"><a
							href="index.php?module=LogfilesViewer&domain_id={{ domain.id }}"
							data-id="{{ domain.id }}" data-container="body"
							data-toggle="tooltip" data-placement="left"
							title="{{ lng('panel.viewlogs') }}"><i
								class="fas fa-chart-bar"></i></a>&nbsp;{% if domain.isbinddomain == 1 and get_setting('system.bind_enable') == 1 and get_setting('system.dnsenabled') == 1 %}<a
							href="index.php?module=DnsEditor&domain_id={{ domain.id }}"
							data-id="{{ domain.id }}" data-container="body"
							data-toggle="tooltip" data-placement="left"
							title="{{ lng('dnseditor.edit') }}"><i class="fas fa-globe"></i></a>&nbsp;{% endif %}<a
							href="index.php?module=AdminDomains&view=edit&id={{ domain.id }}"
							data-id="{{ domain.id }}" data-container="body"
							data-toggle="tooltip" data-placement="left"
							title="{{ lng('panel.edit') }}"><i class="fas fa-edit"></i></a> {% if not (domain.domainaliasid and domain.domainaliasid != 0) and domain.id != get_setting('system.hostname_id') %}
							{% if not (domain.standardsubdomain and domain.standardsubdomain == domain.id) %}<a
							href="#" class="text-danger delete-btn" data-id="{{ domain.id }}"
							data-container="body" data-toggle="tooltip" data-placement="left"
							title="{{ lng('panel.delete') }}"><i class="fas fa-trash-alt"></i></a>
							{% else %}<span class="text-muted"><i
								class="fas fa-trash-alt"></i></span>
						{% endif %}
							{% else %}<span class="text-muted"><i
								class="fas fa-trash-alt"></i></span>
						{% endif %}</td>
					</tr>
					{% endfor %}
					{% endset %}
					{% if domains.count > 0 %}
					{{ t.listing("domains-listing", [lng('domains.domainname'), lng('admin.ipsandports.ip'), lng('admin.customer'), "|" ~ lng('panel.options')], content, [3,3,3,3]) }}
					{% else %}
					<div class="alert alert-info" role="alert">
						{% trans "Keine Domains" %}
					</div>
					{% endif %}
				</div>
			</div>
		</div>

		{% if userinfo.domains != 0 %}
		<div class="tab-pane fade" id="tab-add" role="tabpanel"
			aria-labelledby="subnav-add-tab">
			<div class="row">
				<div class="col-sm-12 col-md-6 offset-md-3">
					<h5 class="mb-3">
						<i class="fas fa-plus-circle"></i>&nbsp;
						{{ lng('admin.domain_add') }}
					</h5>
					{% if userinfo.customers != 0 and userinfo.customers_used == 0 %}
					<div class="alert alert-warning" role="alert">
						<a href="index.php?module=AdminCustomers">{{ lng('admin.domain_nocustomeraddingavailable') }}</a>
					</div>
					{% else %}
					{% import "Sparkle2/misc/form/form.html.twig" as f %}
					{{ f.form(form_data, "index.php?module=AdminDomains&view=add") }}
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}

	</div>
</div>
{% endblock %}
