{% extends "Sparkle2/userarea.html.twig" %}

{% block content %}
<div class="card">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs" id="subnav-tab"
			role="tablist">
			<li class="nav-item"><a class="nav-link" id="subnav-back-tab"
				href="index.php?module=AdminDomains" role="tab"
				aria-controls="subnav-back" aria-selected="true">{{ lng('panel.domains') }}</a></li>
			<li class="nav-item"><a class="nav-link" id="subnav-back-tab"
				href="index.php?module=AdminDomains&view=edit&id={{ domain.id }}" role="tab"
				aria-controls="subnav-back" aria-selected="true">{{ domain.domain|idnDecode }}</a></li>
			<li class="nav-item"><a class="nav-link active"
				id="subnav-err-tab" data-toggle="tab" href="#tab-err" role="tab"
				aria-controls="subnav-err" aria-selected="true">Error-Log</a></li>
			<li class="nav-item"><a class="nav-link" id="subnav-acc-tab"
				data-toggle="tab" href="#tab-acc" role="tab"
				aria-controls="subnav-acc" aria-selected="false">Access-Log</a></li>
		</ul>
	</div>
	<div class="card-body tab-content" id="subnav-tabContent">
		<div class="tab-pane fade show active" id="tab-err" role="tabpanel"
			aria-labelledby="subnav-err-tab">
			<div class="row">
				<div class="col-12">
					<h5 class="mb-3">
						<i class="fas fa-exclamation-triangle"></i>&nbsp;
						Error-Log
					</h5>
					<textarea rows="20" class="form-control" readonly>{{ error_log_content }}</textarea>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="tab-acc" role="tabpanel"
			aria-labelledby="subnav-acc-tab">
			<div class="row">
				<div class="col-12">
					<h5 class="mb-3">
						<i class="fas fa-receipt"></i>&nbsp;
						Access-Log
					</h5>
					<textarea rows="20" class="form-control" readonly>{{ access_log_content }}</textarea>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}
