{% extends "Sparkle2/userarea.html.twig" %}

{% block custom_css %}
<link href="../templates/Sparkle2/assets/css/switch.css"
	rel="stylesheet">
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs" id="subnav-tab"
			role="tablist">
			<li class="nav-item"><a class="nav-link active"
				id="subnav-set-tab" data-toggle="tab" href="#tab-set" role="tab"
				aria-controls="subnav-set" aria-selected="true">{{ lng('admin.serversettings') }}</a></li>
			<li class="nav-item"><a class="nav-link" id="subnav-iex-tab"
				data-toggle="tab" href="#tab-iex" role="tab"
				aria-controls="subnav-iex" aria-selected="false"><i
					class="fas fa-file-export"></i>&nbsp;{{ lng('admin.configfiles.importexport') }}</a></li>
		</ul>
	</div>
	<div class="card-body tab-content" id="subnav-tabContent">
		<div class="tab-pane fade show active" id="tab-set" role="tabpanel"
			aria-labelledby="subnav-set-tab">
			<div class="row">
				<div
					class="{% if part is empty %}col-sm-12 col-md-6 offset-md-3{% else %}col-12{% endif %}">
					<h5 class="mb-3">
						<i class="fas fa-wrench"></i>&nbsp;
						{{ lng('admin.serversettings') }}
					</h5>
					{% import "Sparkle2/misc/form/settings_form.html.twig" as f %}
					{{ f.form(form_data, part) }}
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="tab-iex" role="tabpanel"
			aria-labelledby="subnav-iex-tab">
			<div class="row">
				<div class="col-sm-12 col-md-6 offset-md-3">
					<div class="card mb-2">
						<div class="card-header">Import</div>
						<div class="card-body">
							<div class="form-group form-row mb-0">
								<div class="col">
									<form action="index.php?module=AdminSettings&view=import"
										method="post" enctype="multipart/form-data"
										class="form">
										<div class="input-group mb-3">
											<div class="custom-file">
												<input type="file" class="custom-file-input"
													id="import_file" name="import_file"> <label
													class="custom-file-label" for="import_file"
													aria-describedby="import_file">Choose file</label>
											</div>
											<div class="input-group-append">
												<input type="hidden" name="send" value="send" />
												<button class="btn btn-success" type="submit"
													id="import_file_up">
													<i class="fas fa-file-import"></i>&nbsp;Import
												</button>
											</div>
										</div>
										<script>
                                            $('#import_file').on('change',function(){
                                                //get the file name
                                                var fileName = $(this).val().split('\\').pop();
                                                //replace the "Choose a file" label
                                                $(this).next('.custom-file-label').html(fileName);
                                            })
                                        </script>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">Export</div>
						<div class="card-body text-center">
							<div class="form-group form-row mb-0">
								<div class="col">
									<a href="index.php?module=AdminSettings&view=export"
										class="btn btn-success"><i class="fas fa-file-export"></i>&nbsp;
										Download/Export {{ lng('admin.serversettings') }} </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}
