{% extends "Sparkle2/userarea.html.twig" %}

{% block content %}
<div class="alert alert-{{ type }} fade show" role="alert">
	<h4 class="alert-heading">
		{{ heading }}
	</h4>
	<p>
		{{ alert_msg }}
	</p>
	{% if alert_info %}
	<hr>
	<p class="mb-0">
	<pre>
		{{ alert_info }}
	</pre>
	</p>
	{% endif %}
	{% if redirect_link %}
	<p class="mt-1 text-right">
		<a href="{{ redirect_link }}" class="btn btn-{{ type }}">{{ lng('success.clickheretocontinue') }}</a>
	</p>
	{% endif %}
</div>
{% endblock %}
