<li class="nav-item"><a
	class="nav-link {% if module[-5:]|lower == 'index' %}disabled" href="#"
	{% else %}" href="index.php?module={% if call_static('\\Froxlor\\CurrentUser', 'isAdmin') %}Admin{% else %}Customer{% endif %}Index"
	{% endif %}> <i class="fas fa-tachometer-alt"></i> Dashboard
</a></li>
{% for mod, box in nav_items %}
{% set modlen = mod|length * -1 %}
{% if (box.show_element is not defined or box.show_element == true) and 
    (box.required_resources is not defined or box.required_resources == '' or
    ((call_static('\\Froxlor\\CurrentUser', 'getField', [box.required_resources]) > 0 or call_static('\\Froxlor\\CurrentUser', 'getField', [box.required_resources]) == -1)
    )) %}
{% if box.elements|length > 0 %}
<li class="nav-item dropdown"><a
	class="nav-link dropdown-toggle{% if module[modlen:]|lower == mod %} active{% endif %}"
	href="#" id="navbarDropdown{{ mod }}" data-toggle="dropdown"
	aria-haspopup="true" aria-expanded="false"><i
		class="fas fa-{% if box.icon is defined %}{{ box.icon }}{% else %}asterisk{% endif %}"></i>
		{{ box.label  }}</a>
	<div class="dropdown-menu" aria-labelledby="navbarDropdown{{ mod }}">
		{% for element in box.elements %}
		{% if (element.show_element is not defined or element.show_element == true) and 
        (element.required_resources is not defined or element.required_resources == '' or
        ((call_static('\\Froxlor\\CurrentUser', 'getField', [element.required_resources]) > 0 or call_static('\\Froxlor\\CurrentUser', 'getField', [element.required_resources]) == -1)
        )) %}
		<a class="dropdown-item"
			href="{% if element.url is defined %}{{ element.url }}{% else %}#{% endif %}"
			{% if element.new_window %} rel="external" {% endif %}> <i
			class="fas fa-{% if element.icon is defined %}{{ element.icon }}{% else %}cog{% endif %}"></i>
			{{ element.label }}
		</a>
		{% endif %}
		{% endfor %}
	</div></li>
{% elseif box.url is defined %}
<li class="nav-item"><a
	class="nav-link {% if module[modlen:]|lower == mod %}disabled" href="#"
	{% else %}" href="{{ box.url }}" {% endif %} {% if box.new_window %}
	rel="external" {% endif %}> <i
		class="fas fa-{% if box.icon is defined %}{{ box.icon }}{% else %}asterisk{% endif %}"></i>
		{{ box.label }}
</a></li>
{% endif %}
{% endif %}
{% endfor %}
