{% extends "Sparkle2/userarea.html.twig" %}

{% block content %}
<div class="card">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs" id="subnav-tab"
			role="tablist">
			<li class="nav-item"><a class="nav-link active"
				id="subnav-dns-tab" data-toggle="tab" href="#tab-dns" role="tab"
				aria-controls="subnav-dns" aria-selected="true">{{ domain }}&nbsp;<span
					class="badge badge-pill badge-secondary">{{ zone_entries|length }}</span></a></li>
		</ul>
	</div>
	<div class="card-body tab-content" id="subnav-tabContent">
		<div class="tab-pane fade show active" id="tab-dns" role="tabpanel"
			aria-labelledby="subnav-dns-tab">
			<div class="card">
				<div class="card-body" id="dnsentries-list">
					<div class="alert alert-primary" role="alert">
						{{ lng('dns.howitworks') }}
					</div>
					<form method="post" action="index.php?module=DnsEditor&view=addEntry&domain_id={{ domain_id }}">
					{% import "Sparkle2/table-listing.html.twig" as t %}
					{% set content %}
					<tr class="d-flex">
						<td class="col-sm-3"><input id="dns_record" type="text"
							name="record[record]" class="form-control form-control-sm"
							placeholder="Record" value="" /></td>
						<td class="col-sm-1"><select id="dns_type"
							name="record[type]" class="form-control form-control-sm">{{ type_select|raw }}</select></td>
						<td class="col-sm-1"><input id="dns_mxp" type="text"
							name="record[prio]" class="form-control form-control-sm"
							placeholder="MX or SRV priority" value="" /></td>
						<td class="col-sm-4"><input id="dns_content" type="text"
							name="record[content]" class="form-control form-control-sm"
							placeholder="Content" value="" /></td>
						<td class="col-sm-1"><input id="dns_ttl" type="text"
							name="record[ttl]" class="form-control form-control-sm"
							placeholder="{{ get_setting('system.defaultttl') }}" value="" /></td>
						<td class="col-sm-2 text-right"><button type="submit"
								class="btn btn-sm btn-success" value="add" name="add">
								<i class="fas fa-plus-circle"></i>
							</button></td>
					</tr>
					{% for entry in zone_entries %}
					<tr class="d-flex">
						<td class="col-sm-3">{{ entry.record|raw }}</td>
						<td class="col-sm-1">{{ entry.type }}</td>
						<td class="col-sm-1">{{ entry.prio }}</td>
						<td class="col-sm-4">{{ entry.content|raw }}</td>
						<td class="col-sm-1">{{ entry.ttl }}</td>
						<td class="col-sm-2 text-right"><a
							href="index.php?module=DnsEditor&view=deleteEntry&domain_id={{ domain_id }}&id={{ entry.id }}"
							class="text-danger delete-btn" data-container="body"
							data-toggle="tooltip" data-placement="left"
							title="{{ lng('panel.delete') }}"><i class="fas fa-trash-alt"></i></a></td>
					</tr>
					{% endfor %}
					{% endset %}
					{{ t.listing("dnsentries-listing", ["Record", "Type", "Priority", "Content", "TTL", "|Optionen"], content, [3,1,1,4,1,2]) }}
					</form>
				</div>
			</div>
		</div>

		<div class="card mt-2">
			<div class="card-body bg-dark">
				<pre class="text-white">
					{{ zonecontent|raw }}
				</pre>
			</div>
		</div>

	</div>
</div>
{% endblock %}
