{% extends "Sparkle2/base.html.twig" %}

{% block body %}
<div class="container container-login text-center">
	<form class="form-signin" method="post" action="">
		<img class="mb-4" src="{{ header_logo }}"
			alt="Froxlor Server Management Panel">
		<h1 class="h3 mb-3 font-weight-normal">Froxlor&nbsp;-&nbsp;Login</h1>
		{% if update_in_progress %}
		<div class="alert alert-warning" role="alert">
			{{ update_in_progress|raw }}
		</div>
		{% endif %}
		{% if disp_login_error %}
		<div class="alert alert-danger" role="alert">
			<strong>{{ lng('error.error') }}</strong><br>
			{{ disp_login_error|raw }}
		</div>
		{% endif %}
		<label for="loginname" class="sr-only">{{ lng('login.username') }}</label>
		<input type="input" id="loginname" name="loginname"
			class="form-control" placeholder="{{ lng('login.username') }}"
			required autofocus> <label for="password" class="sr-only">{{ lng('login.password') }}</label>
		<input type="password" id="password" name="password"
			class="form-control" placeholder="{{ lng('login.password') }}"
			required> <br> <input type="hidden" name="script"
			value="{{ lastscript }}" /> <input type="hidden" name="qrystr"
			value="{{ lastqrystr }}" /> <input type="hidden" name="send"
			value="send" />
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			{{ lng('login.login') }}
		</button>
		<p class="mt-5 mb-3 text-muted">
			{% if get_setting('panel.allow_preset') == '1' %}
			<a href="?view=forgotpwd">{{ lng('login.forgotpwd') }}</a>
			{% endif %}
		</p>
	</form>
</div>
{% endblock %}
